* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: white;
    --bg-url: url(./assets/bg-mobile.jpg);
    --bg-switch-url: url(./assets/moon-stars.svg);
    --bg-button: rgba(255, 255, 255, 0.10);
    --bg-button-hover: rgba(255, 255, 255, 0.05);
    --bg-social-hover: rgba(255, 255, 255, 0.20);
    --border-color: rgba(255, 255, 255, 0.50);
    --border-color-hover: white;
}

.light {
    --text-color: black;
    --bg-url: url(./assets/bg-mobile-light.jpg);
    --bg-switch-url: url(./assets/sun.svg);
    --bg-button: rgba(0, 0, 0, 0.05);
    --bg-social-hover: rgba(0, 0, 0, 0.1);
    --border-color: rgba(255, 255, 255, 0.50);
    --border-color: rgba(0, 0, 0, 0.50);
    --border-color-hover: black;
}

body{
    /*background-image: url(./assets/bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    */
    /* shorthand - background: color image repeat position/size ; */
    background: var(--bg-url) no-repeat center/cover ;
    height: 100vh;
}

body * {
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
}

/* '#' é seletor de id */
#container {
    /* border: largura tipo cor; */
    /* border: 1px solid red; */
    width: 100%;
    max-width: 588px;
    margin: 56px auto 0px;

    padding: 0px 24px;
}

#profile {
    padding: 24px;
    
    text-align: center;
}

#profile > img {
    display: block;
    margin:  0px auto 8px;

    width: 112px;
    height: 112px;
}

a {
    text-decoration: none;
        
    font-weight: 500;
    line-height: 24px;
}

#profile a:hover {
    color: rgb(163, 163, 163);
}

#switch {
    position: relative;

    width: 64px;
    
    margin: 4px auto;
}

#switch button {
   width: 32px; 
   height: 32px;
   background: white var(--bg-switch-url) no-repeat center;
   border: 0;
   border-radius: 50%;

   position: absolute;
   top: 50%;
   left: 0;
   z-index: 1;
   transform: translateY(-50%);

   animation: slide-back 0.2s;
}

#switch button:hover {
    outline: 8px solid var(--bg-social-hover);
}

#switch span {
    display: block;

    width: 64px;
    height: 24px;

    background: var(--bg-button);

    border: 1px solid var(--border-color);
    border-radius: 9999px;
    backdrop-filter: blur(4px);
}

.light #switch button {
    animation: slide-in 0.2s forwards;
}

#container > ul {
    display: flex;
    flex-direction: column;
    gap: 16px;

    list-style: none;

    padding: 24px 0px;
}

#container > ul li a {
    background: var(--bg-button);

    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 16px 24px;
    
    border: 1px solid var(--border-color);
    border-radius: 8px;
    
    backdrop-filter: blur(4px);

    transition: background 0.2s;
}

/* pseudo-selector */
#container > ul li a:hover {
    background: var(--bg-button-hover);

    border: 1.5px solid var(--border-color-hover);

    border-radius: 8px;

    backdrop-filter: blur(4px);
}

#social {
    display: flex;
    justify-content: center;
    /* gap: 32px; */

    padding: 24px 0px;
}

#social ion-icon {
    height: 24px;
    width: 24px;
}

#social a {
    display: flex;
    align-items: center;
    
    padding: 16px;

    border-radius: 50%;
}

#social a:hover {
    background: var(--bg-social-hover);


    transition: background 0.2s;
}
/* #social ul{
    display: flex;
    justify-content: center;
    gap: 16px;

    list-style: none;
} */

footer {
    text-align: center;

    margin-bottom: 32px;
}

footer p {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;

    font-size: 14px;
    line-height: 24px;
    font-weight: 400;

    padding: 24px;
}

footer p a {
    text-decoration: underline;
}

footer p a:hover {
    color: rgb(163, 163, 163);
}

@media (min-width: 700px) {
    :root {
        --bg-url: url(./assets/bg-desktop.jpg);
    }

    .light {
        --bg-url: url(./assets/bg-desktop-light.jpg);
    }
}

@keyframes slide-in {
    from {
        left: 0;
    }
    to {
        left: 50%;
    }
}

@keyframes slide-back {
    from {
        left: 50%;
    }
    to {
        left: 0px;
    }
    
}